@model QLBH.Models.Ncc

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Ncc</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenNcc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenNcc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaChiNcc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaChiNcc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuocGia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuocGia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoDt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoDt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MaNcc">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
